body{
    margin: 0;
    padding: 0;
    font-family: 'Sora', sans-serif;
  
}

.flex-container{
    display: flex;
    margin-bottom: 10px;
    padding-left: 80px;
    padding-right: 70px;
}




.flex-item{
    width: 50%;
    padding: 30px;

}

.flex-item img{
    width: 80%;
    padding: 30px;
}

h1{
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#vertical-line{
    border-left: 5px solid; 
    border-left-color: crimson;
}


.sp-color{
    display: block; 
    color:chocolate;
    font-family: ;
}
.reverse-display{
    display: inline;
}

.color-link{
    text-decoration: none;
    background-color: blue;
    color:white;
    border-radius: 15px; 
    padding: 10px 15px; 
    
}

.bg-img{
    background-image: url(images/shapes/shape-1.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: 15%;
    margin-left: 50px;
    margin-right: 50px;
}

.bg-img-glob-com{
    background-position: right;
    background-size: 15%;
  /* //  margin-right: 80px; */
    padding-left: 10%;


}

#glob-img{
    width: 100%;

}

#exp-more{
    text-align: left;
}

#mission22{
    text-align: center;
    margin-bottom: 60px;
}

#mission{
    background-color: rgb(145, 103, 185);
    border-radius: 35px;
    
}
#vision{
    background-color: rgb(173, 125, 125);
    border-radius: 35px;
    margin-left: 15px;
}

#goals{
    background-color: rgb(175, 109, 98);
    border-radius: 35px;
    margin-left: 15px;
}
 
footer{
    margin-top: 35px;
    padding: 40px;
    background-color: black;
}

footer h1{
    color: white;
    text-align: center;
    font-family: monospace;
}